{
  "name": "com.local.obsidian_vocabulary_clipper",
  "description": "Obsidian Vocabulary Clipper local host",
  "path": "__HOST_PATH__",
  "type": "stdio",
  "allowed_origins": [
    "chrome-extension://mmjlnnjlmoladaommpnekimbpfmfdnmj/"
  ]
}
